@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
img {
  width: 30%; /* 30% + 30% + 30% = 90% */
  float: left;
  margin: 1.66%; /* 1.66% + 1.66% + 1.66% = 10%*/
}
h2 {
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.66%;
}
