@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
img {
  width: 18%; /* 30% + 30% + 30% = 90% */
  float: left;
  margin: 1%; /* 1.66% + 1.66% + 1.66% = 10%*/
}
p {
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 20px;
  width: 77%;
}
